body{
  height: 100vh;
  width: 100%;
  margin: 0;
  color: #262835;
}

header{
  grid-area: header;
  text-align: center;
}

nav.menu{
  grid-area: menu;
  display: inline;
  font-size: 18px;
  font-weight: bold;
}

nav.menu ul{
  padding: 4px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

aside{
  grid-area: sidebar;
  background-color: #262835;
  padding-top: 2em;
  text-align: center;
}

aside nav ul{
  padding: 0;
}

aside nav ul li{
  margin-bottom: 16px;
}

aside nav ul li a{
  color: #fff;
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
}

main{
  padding: 20px;
  grid-area: content;
  background-color: #f1f5f6;
}

footer{
  grid-area: footer;
  padding: 4px;
  text-align: center;
}

#root{
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 15% 85%;
  grid-template-rows: 6vh 6vh 84vh 4vh;
  grid-template-areas: 
    "header header" 
    "menu menu" 
    "sidebar content" 
    "footer footer"
  ;
}

button{
  width: 150px;
  margin: 30px;
  border-radius: 4px;
  padding: 4px;
  box-shadow: 2px 2px 2px 0px rgba(50, 50, 50, 0.75);
  cursor: pointer;
}

button.primary{
  background-color: #262835;
  border: solid 1px #262835;
  color: #fff;
}

button.secondary{
  background-color: #f1f5f6;
  border: solid 1px #777;
  color: #262835;
}